<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Form</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body>
<div class="container text-center">
    <div class="row">
        <div class="col">

        </div>
        <div class="col">
            <form action="#" th:action="@{/clients/client-form}" method="POST" th:object="${client}">

                <input type="hidden" th:field="*{id}"/>

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" th:field="*{name}">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email address</label>
                    <input type="text" class="form-control" id="email" th:field="*{email}">
                </div>
                <div class="mb-3">
                    <label for="tel" class="form-label">Phone</label>
                    <input type="text" class="form-control" id="tel" th:field="*{phone}">
                </div>
                <div class="mb-3">
                    <label for="country" class="form-label">Country</label>
                    <input type="text" class="form-control" id="country" th:field="*{country}">
                </div>
                <div class="mb-3">
                    <label for="language" class="form-label">Language</label>
                    <select class="form-control" id="language" th:field="*{language}">
                        <option value="-1">---</option>
                        <option th:each="language : ${languages}"
                                th:value="${language.id}"
                                th:text="${language.languageCode}">
                        </option>
                    </select>

                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col">

        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>